%h1 Mortgage Interest Calculator
%form{ method: 'post', action: '/calculate' }
  .row
    .column.column-50
      %h2 Income / Expense
      .fieldset
        %label{ for: 'income' } Income
        %input{ type: 'text', id: 'income', name: 'income', value: data.income }
        %label{ for: 'expense' } Expense
        %input{ type: 'text', id: 'expense', name: 'expense', value: data.expense }
      %h4= "Fortnightly Income: #{data.fortnightly_income}"
  .row
    .column.column-50
      %h2 Mortgage
      .fieldset
        %label{ for: 'amount' } Amount
        %input{ type: 'text', id: 'amount', name: 'amount', value: data.loan_amount }
        %label{ for: 'base-rate' } Rate
        %input{ type: 'text', id: 'base-rate', name: 'base_rate', value: data.base_rate }
        %label{ for: 'increment' } Increment
        %input{ type: 'text', id: 'increment', name: 'increment', value: data.increment }
        %input{ type: 'submit', class: 'button primary', value: 'Calculate' }
%br
  .row
    .column.column-50
      %table
        %h2
          Rates
        %thead
          %tr
            %th= 'Rate'
            %th= 'Annual'
            %th= 'Fortnight'
            %th= 'Fortnightly Diff'
            %th= 'Weekly Diff'
          - data.interest.each do |rate|
            %tr
              %td= rate.rate
              %td= rate.annual
              %td= rate.fortnight
              %td= rate.diff
              %td= rate.weekly_diff
